{% extends 'base.html' %}
{% block content %}
    <section class="rh-check-availability">
        <img src="../../static/app/images/event/event-background.jpg" alt="1">
    </section>
    <!-- Main Content Begin -->
    <div class="rh rh-100 section-booking">
        <!-- Booking Page Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-wizard">
                    <!-- Form Wizard -->
                    <form method="post">
                        <!-- Form progress -->
                        <div class="form-wizard-steps form-wizard-tolal-steps-4">
                            <div class="form-wizard-progress">
                                <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4"
                                     style="width: 12.25%;"></div>
                            </div>
                            <!-- Step 1 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon"><i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <p>Choose Your Date</p>
                            </div>
                            <!-- Step 1 -->
                            <!-- Step 2 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon"><i class="fa fa-building-o" aria-hidden="true"></i>
                                </div>
                                <p>Choose Your Room</p>
                            </div>
                            <!-- Step 2 -->
                            <!-- Step 3 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon"><i class="fa fa-pencil-square-o"
                                                                      aria-hidden="true"></i></div>
                                <p>Reservation</p>
                            </div>
                            <!-- Step 3 -->
                            <!-- Step 4 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <p>Confirmation</p>
                            </div>
                            <!-- Step 4 -->
                        </div>
                        <!-- Form progress -->
                        <!-- Form Step 1 -->
                        <fieldset style="display: block;">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div style="text-align: center;">
                                        <div class="form-group">
                                            {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                        <li>
                                                            <div class="alert alert-danger dismissable">
                                                                <h4>{{ message }}</h4></div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- Check Availability Begin -->
                                    <section class="rh rh-100 check-availability rh-check-availability select-list">
                                        <div class="container">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <h5>Check in</h5>
                                                    <input type="text" data-date-format="yyyy-mm-dd" name="checkin"
                                                           class="form-control" id="datepicker_CIn" title="datepicker"
                                                           onchange="handler(event);"/>
                                                </div>
                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <h5>Check out</h5>
                                                    <label for="datepicker_COut"></label><input type="text" data-date-format="yyyy-mm-dd" name="checkout"
                                                                                                id="datepicker_COut" class="form-control"
                                                                                                onchange="handler(event); date(event);">
                                                </div>

                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <h5 class="fw-x15">Adults</h5>
                                                    <label>
                                                        <select name="adults" class="selectpicker">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <h5 class="fw-15">Children</h5>
                                                    <label>
                                                        <select name="children" class="selectpicker">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <input type="submit" id="next" class="rh-check-btn pull-right"
                                                           value="Check Availability" style="background-color:#0E2646">
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <!-- Check Availability Close -->
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- Form Step 1 -->
                <!-- Form Wizard -->
            </div>
        </div>
    </div>
    <!-- Booking Page Close -->
    <!-- Main Content Close -->
    <!-- Ruby Services and Facilities -->
    <div class="rh section-booking">
        <!-- About Ruby Hotel Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="rh-detail-right">
                        <div class="row rh-flex">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!-- Need Ruby Help? Begin -->
                                <div class="rh-need-help">
                                    <h5>Need Our Help?</h5>
                                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your
                                        service to help you.</p>
                                    <a href="tel:+919173495648">+92 301 7661106</a>
                                </div>
                                <!-- Need Ruby Help? Close -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-wizard">
                    <div class="rh-detail-left">
                        <!-- Ruby Services and Facilities -->
                        <div class="rh-about-hotel rh rh-rsf">
                            <h4>Our Services and Facilities</h4>
                            <ul class="rh-ul-30">
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>24 hour reception</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Internet point</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Wi-Fi</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Fax service</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Tourist information</p></li>
                                <li class="red"><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Bookings for trips</p></li>
                            </ul>
                            <ul class="rh-ul-40">
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Bookings for guided tours</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Bookings for shows and museums</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Concierge</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Night porter</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Left luggage</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Ironing service</p></li>
                            </ul>
                            <ul class="rh-ul-30">
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Hall</li>
                                <li class="red"><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Terrace</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Bar</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Breakfast</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
                                    <p>Gluten free breakfast available</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Ruby Hotel Close -->
    <!-- News Letter Begin -->
    <section class="rh rh-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 rh-n-30">
                    <div class="rh-news-sign">
                        <h5>Sign up for Newsletter</h5>
                        <p>Receive News Of Caruso Hotel</p>
                    </div>
                    <div class="rh-news-email">
                        <form class="news-email-form" method="post" action="#">
                            <label>
                                <input type="text" placeholder="Enter your email address..."/>
                            </label>
                            <a href="javascript:"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="rh-news-sign">
                        <h5>Connect with us </h5>
                        <p>Social Media Channel</p>
                    </div>
                    <ul class="news-social">
                        <li><a href="javascript:"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}